aniso8601==9.0.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.3.1
attrs==19.3.0
Babel==2.10.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
black==20.8b1
blinker==1.4
Brlapi==0.7.0
Brotli==1.0.9
CacheControl==0.12.6
cached-property==1.5.1
certifi==2019.11.28
cffi==1.14.3
cfgv==3.3.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
contextlib2==0.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2.1
cssselect2==0.6.0
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.7.0rc1
distlib==0.3.2
distro==1.4.0
Django==3.1.4
django-appconf==1.0.5
django-bootstrap-form==3.4
django-bootstrap4==2.3.1
django-braces==1.14.0
django-cors-headers==3.11.0
django-crispy-forms==1.12.0
django-elasticsearch-dsl==7.2.2
django-environ==0.4.5
django-graphql-jwt==0.3.4
django-jalali==4.3.0
django-oauth-toolkit==1.3.3
django-renderpdf==3.0.1
django-responsive2==0.1.3
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
drf-yasg==1.20.0
elasticsearch==7.5.1
elasticsearch-dsl==7.4.0
entrypoints==0.3
filelock==3.0.12
fonttools==4.33.3
graphene==3.0
graphene-django==3.0.0b7
graphene-file-upload==1.3.0
graphql-core==3.1.7
graphql-relay==3.1.0
grpcio==1.16.1
gunicorn==20.0.4
heroku==0.1.4
html5lib==1.1
httplib2==0.14.0
humanize==3.11.0
identify==2.2.10
idna==2.8
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==2.1.1
inflection==0.3.1
ipaddr==2.2.0
isort==5.9.1
itypes==1.1.0
jdatetime==3.6.2
Jinja2==2.11.1
jsonschema==3.2.0
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==4.2.0
msgpack==0.6.2
mypy-extensions==0.4.3
nemo-emblems==5.2.0
netaddr==0.7.19
netifaces==0.10.4
nodeenv==1.6.0
oauthlib==3.1.0
onboard==1.4.1
openapi-codec==1.3.2
packaging==20.1
PAM==0.4.2
pathspec==0.8.1
pep517==0.8.2
pexpect==4.6.0
Pillow==8.1.0
pre-commit==2.13.0
progress==1.5
promise==2.3
protobuf==3.6.1
psutil==5.5.1
psycopg2-binary==2.8.6
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.14.1
pycups==1.9.73
pycurl==7.43.0.2
pydyf==0.1.2
Pygments==2.7.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyparted==3.11.2
pyphen==0.12.0
pyRFC3339==1.1
pyrsistent==0.15.5
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==1.5
python-debian===0.1.36ubuntu1
python-magic==0.4.16
python-xapp==2.2.1
python-xlib==0.23
python3-openid==3.2.0
pytoml==0.1.21
pytz==2020.4
pyxdg==0.26
PyYAML==5.4.1
regex==2020.11.13
reportlab==3.5.34
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
Rx==1.6.1
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.17.0
singledispatch==3.7.0
six==1.14.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.0.1
sqlparse==0.4.1
stripe==2.58.0
systemd-python==234
text-unidecode==1.3
texttable==1.6.2
tinycss2==1.0.2
tldextract==2.2.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.8
virtualenv==20.4.7
wadllib==1.3.3
weasyprint==54.3
webencodings==0.5.1
websocket-client==0.53.0
whitenoise==5.0.1
xkit==0.0.0
xlrd==1.1.0
youtube-dl==2021.4.26
zipp==3.4.0
zopfli==0.2.1
