{% extends 'main/base.html' %}
{% load static %}
{% block main_head %}
<style type="text/css">
h2 {
    color: #231f20;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    /*margin: 15px 0 9px;*/
}
h2 b {
    color: #be2714;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel1 {
    margin: 30px auto;
    padding: 0 50px;
}
.carousel1 .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel1 .item .img-box {
    height: 180px;
    width: 100%;
    position: relative;
}
.carousel1 .item .img-boxsmall {
    height: 250px;
    
    position: relative;
}
.carousel1 .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel1 .item h4 {
    font-size: 14px;
    margin: 10px 0;
}
.carousel1 .item .btn {
    color: #100105;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel1 .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #231f20;
    border-color: #231f20;
    box-shadow: none;
}
.carousel1 .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel1 .thumb-wrapper {
    text-align: center;
}
.carousel1 .thumb-content {
    padding: 15px;
}
.carousel1 .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel1 .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel1 .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel1 .item-price strike {
    color: rgb(24, 22, 22);
    margin-right: 5px;
}
.carousel1 .item-price span {
    color: #101110;
    font-size: 110%;
}
.carousel1 .carousel-control.left i {
    margin-left: -3px;
}
.carousel1 .carousel-control.left i {
    margin-right: -3px;
}
.carousel1 .carousel-indicators {
    bottom: -50px;
}
@media(max-width: 1024px){
    .carousel-indicators li, .carousel-indicators li.active {
        display: none;
    }
}
/*.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #be2714;
}
*/
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock main_head %}
{% block main_body %}
<div id="carouselExampleCaptions" class="carousel slide w3-hide-small" data-ride="carousel" style="margin: 0;padding: 0">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
		{% for slide in sliders|slice:"1:" %}
		<li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter}}"></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item">
			<img src="https://imgur.com/hApMNW1.png" alt="{{slide.name}}" style="width: 100%">

		</div>
		<div class="carousel-item active">
			<img src="https://imgur.com/VOqz4iD.png" alt="{{sliders.0.name}}" style="width: 100%">

		</div>
		<div class="carousel-item">
			<img src="https://imgur.com/V9BEOlT.png" alt="{{slide.name}}" style="width: 100%">

		</div>

		<div class="carousel-item">
			<img src="https://imgur.com/giKgWKY.png" alt="{{slide.name}}" style="width: 100%">

		</div>

	</div>
	<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!--smallscreen-->

<div class="w3-hide-large">
	<div id="carouselExampleCaptions" class="carousel slide l" data-ride="carousel" style="margin: 0;padding: 0">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			{% for slide in sliders|slice:"1:" %}
			<li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter}}"></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://imgur.com/i7pz3lF.png" alt="{{sliders.0.name}}" style="width: 100%">

			</div>
			<div class="carousel-item">
				<img src="https://imgur.com/H8yqfby.png" alt="{{slide.name}}" style="width: 100%">

			</div>
			<div class="carousel-item">
				<img src="https://imgur.com/FTrKliC.png" alt="{{slide.name}}" style="width: 100%">

			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>


	<!-- NEW ENTRY TAILWIND AND BUMA
	-->

			<div class="">

				<div class="py-12 px-12 w3-hide-small">
					<button class=" w3-left">
						<p class="text-gray-800 sm:text-xl">Trending Products</p>
					</button>
					<button class="w3-button w3-black w3-round-large w3-right">

						<a href="/products/trend">
                                   View All
					    </a>
					</button>
				  </div>

        <!--smallscreen-->
		<div class="py-12 px-12  w3-hide-large">
			<button class=" w3-left">
				<p class=" text-gray-900 sm:text-2xl">Trending Products</p>
			</button>
			<button class="button is-link is-light w3-right">

				<a href="/products/trend">
						   View All
				</a>
			</button>
		  </div>

       </div>

	   <div class="py-2 bg-white  w3-hide-small w3-hide-medium">
		<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">

	   <div class="columns">
		<div class="column">
			<img  src="https://imgur.com/k7HIvVc.png" class="object-contain h-38 w-66 ...">

		</div>
		<div class="column">
			<img src="https://imgur.com/2CI69YD.png" class="object-contain h-38 w-66 ..." alt="">

		</div>
		<div class="column">
		 	<img src="https://imgur.com/NXmdWah.png" class="max-w-full h-auto rounded-lg" alt="">

		</div>
		<div class="column">
			<figure class="image is-5by4">
				<img src="https://imgur.com/nsFRAut.png" class="max-w-full h-auto rounded-lg" alt="">
			  </figure>

		</div>
		<div class="column">
			<img src="https://imgur.com/385S1E7.png" class="max-w-full h-auto rounded-lg" alt="">

		</div>

	  </div>
      </div>
	  </div>
	  <div class="py-2 px-10  w3-hide-large">
	  <div class="w3-row">
		<div class="w3-col s4  w3-center">
			<img  src="https://imgur.com/k7HIvVc.png" class="object-contain h-38 w-66 ..."></div>
		<div class="w3-col s4 w3-center">
			<img src="https://imgur.com/2CI69YD.png" class="object-contain h-38 w-66 ..." alt=""></div>
		<div class="w3-col s4 w3-center">
			<img src="https://imgur.com/NXmdWah.png" class="max-w-full h-auto rounded-lg" alt="">
		</div>
	  </div>

	  <div class="w3-row">
		<div class="w3-col s4  w3-center">
			<img src="https://imgur.com/nsFRAut.png" class="max-w-full h-auto rounded-lg" alt="">
		</div>
		<div class="w3-col s4 w3-center">
			<img src="https://imgur.com/385S1E7.png" class="max-w-full h-auto rounded-lg" alt=""></div>
		<div class="w3-col s4 w3-center">
			<img src="https://imgur.com/Y7iO7az.png" class="max-w-full h-auto rounded-lg" alt="">
		</div>
	  </div>

     </div>


	<div class="container-fluid">
		{% for product, range, nSlides in allProds %}

		<div class=" bg-white">
              	  <!--small-->
			 <div class="py-4  w3-hide-small  px-10 ">
				<div class="text-l  w3-left"> <span class="text-indigo-500">{{product.0.0.category}}</span>

				</div>
				<button class="button is-link is-light w3-right">
					<a href="/products/{{product.0.0.category}}" class="py-2">
						View All
					</a>
				</button>
			  </div>
			  <!--small-->
			 <div class="py-4 px-4 w3-bar w3-hide-large w3-hide-medium px-10 ">
				<div class="text-l  w3-left"> <span class="text-black-500">{{product.0.0.category}}</span>

				</div>
				<button class="button is-link is-light w3-right">
					<a href="/products/{{product.0.0.category}}" class="py-2">
						View All
					</a>
				</button>
			  </div>


		<div id="demo{{forloop.counter}}" class="carousel carousel1 slide" data-ride="carousel" data-interval="0">

			<ol class="carousel-indicators">
				<li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

				{% for i in range %}
				<li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
				{% endfor %}
			</ol>



			<div class="carousel-inner">

				<div class="item carousel-item active">

					<div class="row">
						{% for i in product %}

						<div class="col-sm-2">

							<div class="thumb-wrapper shadow-xl  ">
								<div class="img-box w3-hide-small">  <a href="product/{{i.0.product_id}}" >
									<img src="{{i.0.image1.url}}" class="img-responsive img-fluid" alt="">
								</a>
								</div>
								<div class="img-boxsmall w3-hide-medium w3-hide-large">
									<a href="product/{{i.0.product_id}}" >
									<img src="{{i.0.image1.url}}" class="img-responsive img-fluid" alt="">
								</a>
								 <br><br>
								</div>


								<div class="thumb-content px-1 py-2">
									<h4 class="w3-hide-small"><a href="product/{{i.0.product_id}}" style="text-decoration: none; color: #231f20">
											<span class="mb-2 text-l  tracking-tight text-gray-600 dark:text-white">{{i.0.product_name}}</span></a>
									</h4>

                                    	<h4 class="w3-hide-large w3-hide-medium">
                                    	    <a href="product/{{i.0.product_id}}" style="text-decoration: none; color: #231f20">
                                    	    {{i.0.product_name}}
                                    	    </a>
                                    	</h4>

									<p class="py-2"><span class="py-4 text-gray-400 "><strike><i class="fa fa-inr"
														aria-hidden="true"></i>{{i.0.price_not}}</strike></span> <span class=" px-2 py-4 text-xl font-bold text-indigo-900 "><i class="fa fa-inr"
												aria-hidden="true"></i>{{i.0.price}}</span></p>

									<div>
										{% if i.1 %}
									<a p_id="{{i.0.product_id}}" class="button is-focused oprbtn " id="ord{{i.0.product_id}}">

									    Order Now</a>
										

		
											
										<div id="ord{{i.0.product_id}}sizesof" style="display: none;">
													{% for me in i.1 %}
													<form method="GET" style="display: inline;" action="/order_now">
														<input type="text" name="prod_id" value="{{i.0.product_id}}" style="display: none;">
														<input type="size" name="prod_size" value="{{me.size}}" style="display: none;">
														<button type="submit" class="button is-focused pt-1 pb-1 pr-2 pl-2">{{me.size}}</button>
													</form>
													{% endfor %}
												</div>
												<a p_id="{{i.0.product_id}}" class="button is-black oprbtn"  style="padding: 5px 10px 5px 5px;" id="atc{{i.0.product_id}}"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
												<div id="atc{{i.0.product_id}}sizesof" style="display: none;">
													{% for me in i.1 %}
													<a prod_id="{{i.0.product_id}}" class="btn pt-1 pb-1 pr-2 pl-2 add_to_cart">{{me.size}}</a>
													{% endfor %}
												</div>
										{% else %}
											<form method="GET" style="display: inline;" action="/order_now">
														<input type="text" name="prod_id" value="{{i.0.product_id}}" style="display: none;">

														<button type="submit" class="button is-black oprbtn w3-hide-small">Order  Now</button>
													</form>
												<a prod_id="{{i.0.product_id}}" class="button is-black pt-1 pb-1 pr-2 pl-2 add_to_cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
										{% endif %}
									</div>
								</div>
							</div><div class="py-4  w3-hide-large"></div>
						</div>
						{% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last %}
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row">
						{% endif %}

						{% endfor %}
					</div>

				</div>

			</div>

  <!--smallscreen-->


			<!-- left and right controls for the slide -->
			<div class="w3-hide-small">
			<a class="carousel-control left carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control right carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
		{% endfor %}

	</div>
</div>
	</div>
</div>





<!--footer-->

<footer class=" lg:text-left bg-gray-100 text-gray-100 w3-hide-small">
	<div class="flex   lg:justify-between p-6 border-b border-gray-300">
	  <div class="mr-12 hidden lg:block">
		<span>Get connected with us on social networks:</span>
	  </div>
	  <div class="flex justify-center">
		<a href="https://www.facebook.com/InfraBlue.In" class="mr-6 text-gray-900">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
			class="w-2.5" role="img" xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 320 512">
			<path fill="currentColor"
			  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
			</path>
		  </svg>
		</a>
		<a href="https://twitter.com/Infrablueindia" class="mr-6 text-gray-600">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter"
			class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
			<path fill="currentColor"
			  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
			</path>
		  </svg>
		</a>

		<a href="https://www.instagram.com/infrablue.in/?hl=en" class="mr-6 text-gray-600">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram"
			class="w-3.5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
			<path fill="currentColor"
			  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
			</path>
		  </svg>
		</a>


	  </div>
	</div>
	<div class="mx-6 py-10 md:text-left">
	  <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
		<div class="">
		  <h6 class="
			  uppercase
			  font-semibold
			  mb-4
			  flex
			  items-center
			  justify-center
			  md:justify-start
			">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cubes"
			  class="w-4 mr-3" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z">
			  </path>
			</svg>
	       About Us
		  </h6>
		  <p class="text-gray-500">
            InfraBlue.in is B2B marketPlace for construction material and Building material.
		  </p>

		</div>
		<div class="">
		  <h6 class="uppercase font-semibold mb-4 flex  md:justify-start">
			COMPANY
		  </h6>
		  <p class="mb-2">
			<a href="{% url 'about' %}" class="text-gray-500">About Us</a>
		  </p>
		  <p class="mb-2">
			<a href="{% url 'term' %}" class="text-gray-500">Team And condition </a>
		  </p>


		</div>
		<div class="">
		  <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
				RESOURCES
		  </h6>

		  <p>
			<a href="https://angel.co/company/infrablue-in" class="text-gray-500">Careers</a>
		  </p>


		</div>
		<div class="text-gray-700">
		  <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
			Contact
		  </h6>
		  <p class="flex items-center justify-center md:justify-start mb-4">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			  <path fill="currentColor"
				d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
			  </path>
			</svg>
			Noida, Uttar pradesh, India
		  </p>
		  <p class="flex items-center justify-center md:justify-start mb-4">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
			  </path>
			</svg>
			infrablue@yahoo.com
		  </p>
		  <p class="flex items-center justify-center md:justify-start mb-4">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
			  </path>
			</svg>
			7004197301
		  </p>

		</div>
	  </div>
	</div>
	<div class="text-center p-6 bg-gray-900">
	  <span>© 2022 Copyright:</span>
	  <a class="text-gray-600 font-semibold" href="https://tailwind-elements.com/">INFABLUE.IN</a>
	</div>
  </footer>

<!--small-->


<footer class=" lg:text-left bg-gray-100 text-gray-100 w3-hide-large w3-hide-medium">
	<div class="py-3 px-6">
	<img class="" src="https://imgur.com/WUWsuZd.png" width="100" height="28">
    </div>
	<div class="flex   lg:justify-between p-6 border-b border-gray-300">

		<div class="mr-12 hidden lg:block">
		<span class="text-gray-900"> Get connected with us on social networks:</span>
	  </div>
	  <div class="flex justify-center">
		<a href="https://www.facebook.com/InfraBlue.In" class="mr-6 text-gray-900">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
			class="w-2.5" role="img" xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 320 512">
			<path fill="currentColor"
			  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
			</path>
		  </svg>
		</a>
		<a href="https://twitter.com/Infrablueindia" class="mr-6 text-gray-600">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter"
			class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
			<path fill="currentColor"
			  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
			</path>
		  </svg>
		</a>

		<a href="https://www.instagram.com/infrablue.in/?hl=en" class="mr-6 text-gray-600">
		  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram"
			class="w-3.5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
			<path fill="currentColor"
			  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
			</path>
		  </svg>
		</a>


	  </div>
	</div>
	<div class="mx-6 py-10 md:text-left">
	  <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
		<div class="">
		  <h6 class="
			  uppercase
			  font-semibold
			  mb-4
			  flex
			  justify-center
			  md:justify-start
			  text-gray-900
			">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cubes"
			  class="w-4 mr-3" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z">
			  </path>
			</svg>
	       About Us
		  </h6>
		  <p class="text-gray-500">
            InfraBlue.in is B2B marketPlace for construction material and Building material.
		  </p>

		</div>
		<div class="">
		  <h6 class="uppercase font-semibold mb-4 flex  md:justify-start">
			COMPANY
		  </h6>
		  <p class="mb-2">
			<a href="{% url 'about' %}" class="text-gray-500">About Us</a>
		  </p>
		  <p class="mb-2">
			<a href="{% url 'term' %}" class="text-gray-500">Team And condition </a>
		  </p>
		  <p>
			<a href="https://angel.co/company/infrablue-in" class="text-gray-500">Careers</a>
		  </p>

		</div>

		<div class="text-gray-700">
		  <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start text-gray-900">
			Contact
		  </h6>
		  <p class="flex  md:justify-start">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			  <path fill="currentColor"
				d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
			  </path>
			</svg>
			Noida, Uttar pradesh, India
		  </p>
		  <p class="flex md:justify-start ">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
			  </path>
			</svg>
			infrablue@yahoo.com
		  </p>
		  <p class="flex md:justify-start">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone"
			  class="w-4 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 512 512">
			  <path fill="currentColor"
				d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
			  </path>
			</svg>
			7004197301
		  </p>

		</div>
	  </div>
	</div>
	<div class="text-center p-6 bg-gray-900">
	  <span>© 2022 Copyright:</span>
	  <a class="text-gray-600 font-semibold" href="https://tailwind-elements.com/">INFABLUE.IN</a>
	</div>
  </footer>



</div>
<!--small-->


{% endblock main_body %}

{% block main_script %}



<script type="text/javascript">
		$('.oprbtn').click(function () {
			var p_id = $(this).attr("p_id");
			document.getElementById('ord'+p_id).style.display = 'none';
			document.getElementById('atc'+p_id).style.display = 'none';
			document.getElementById(this.id+'sizesof').style.display = 'block';
		});
	</script>
{% endblock main_script %}